.hero {
  position: absolute;
  border-radius: 5px;
  /*background-color: green;*/
  transition: top 0.1s, left 0.1s;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate(-50%, -50%);
}
